.App {
  padding: 64px;
}

.font {
  font-family: Arial, Helvetica, sans-serif;
}

.cell {
  padding: 8px 0px;
  display: flex;
  flex: 0 1 33%;
}

.header {
  display: flex;
  border-bottom: 1px solid #e6e8eb;
  border-top: 1px solid #e6e8eb;
}

.row {
  display: flex;
  border-bottom: 1px solid #e6e8eb;
}

.row:hover {
  background-color: #e6e8eb;
}
